@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #01CC78 0%, #000000 100%);
    background-attachment: fixed;
}

h1 {
    font-family: 'Rock 3D', cursive;
    color: azure;
}

/* -------- Começo do cabeçalho --------*/
#div-cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 25px;  
}
#img-cabecalho{
    height: 70px;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    border-radius: 20px;
}

#cabecalho-podcast {
    display: flex;
    align-items: center;
}

/* -------- Final do cabeçalho --------*/

.hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #01CC78, transparent);
}

/* -------- Começo do Corpo --------*/


#main1 {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

}

#main2 {
    margin: 30px;
    display: block;
    justify-content: center;
}


#section-icon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#section-icon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.div-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;  
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-size: 18px;


}

#descricao{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    text-align: center;
    margin-top: 50px;
}

.logo-insta {
    height: 70px;
}
*/

/* -------- Final do Corpo --------*/

.hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #01CC78, transparent);
}

/* -------- Inicio do Corpo --------*/
.rodape {
    display: block;
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    text-align: center;
    font-size: 12px;
    margin: 15px;
}
/* -------- Final do Rodapé --------*/

/*----------Formatação de links*----------*/

a:link {
    transition: all 0.5s;
    cursor: pointer;
    color: #FFF2E7;
    text-decoration: none;
}

a:visited {
    color: #FFF2E7;
}

a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.button {
    background-color: #FFF2E7;
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 4px 5px 4px rgba( 0, 0 , 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala' sans-serif;
    font-weight: 400;
    color: #01CC78;
}